<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>introduction</title>
</head>
<body>
<h1>welcome to my page</h1>
<p> Hala madrid</p>
<a href="https://www.w3schools.com/">this is a link</a>
<ul>
    <li>ramos</li>
    <li>pique</li>
    <li>piyol</li>
</ul>
<ol>
    <li>santiago</li>
    <li>oldtraford</li>
    <li>leparis</li>
</ol>
<table border="7p">
    <tr>
        <th>xavi</th>
        <th>iniesta</th>
        <th>busi</th>
    </tr>
    <tr>
        <td>villa</td>
        <td>torres</td>
        <td>fabin</td>
    </tr>
    <tr>
        <td>modric</td>
        <td>casemiro</td>
        <td>kroos</td>
    </tr>
<img src=""
</table>
</body>
</html>