<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students</title>
</head>
<body>
<form action="{% url 'app1:update' ob.id %}" method="post">
    {%csrf_token%}
<input type="text" name="name" value="{{ob.name}}">
<input type="text" name="username" value="{{ob.name}}">
  <input type="text" name="password" value="{{ob.name}}">
    <input type="text" name="dob" value="{{ob.name}}">
    <input type="text" name="mark" value="{{ob.name}}">
    <input type="submit" value="save">

</form>

</body>
</html>